html, body, #app-content, #inner-app-content, #outer-container, #main-body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#map {
    margin: 0px;
    padding: 0px;
    height: 70%;
    width: 100%;
}

#lower-content {
    height: 30%;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(22, 0, 240, 0.2);
}

#metadata {
    margin: 0px;
    padding: 0px;
    height: 20%;
    width: 100%;
}

#app-navigation-items {
    height: 100%;
}

#inner-app-content {
    padding: 0;
    height: 100%;
}

p {
     padding: 5px 0px 5px 30px;
}

b {
    font-size: 13pt;
}

#variable-input {
    width: 70%;
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.nav-button {
    width: 100%;
    height: 35px;
    background-color: #4532fc;
    color: white;
    margin-top: 10px;
}

.inner-div {
    width: 95%;
    height: 60%;
    overflow-y: scroll;
}

.file:hover {
    background-color: rgba(130, 140, 250, 1);
}

.half-box {
    width: 90%;
    height: 86%;
    margin: 2% 5% 0% 5%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.modal-content {
    text-align: center;
}

button {
    width: 100%;
    height: 30px;
    background-color: white;
    border-color: #cccccc;
    margin-top: 10px;
}

